*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/PAOK.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/PAO.mp4 filter=lfs diff=lfs merge=lfs -text
assets/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
